:root {
    --accent-blue: rgb(75, 144, 235);
    --gray-bg: #F2F0EF;
    --box-shadow: 0 6px 6px -1px rgb(199, 199, 199);
}

.roboto-main-font {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

html, body {
    height: 100%;
    margin: 0;
    background-color: var(--gray-bg);
    font-family: Roboto
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
    grid-template-rows: 1fr 5fr;
}

.dashboard {
    background-color: var(--accent-blue);
    grid-row: 1/5;
    color: white;
    padding: 16px;
}

.dashboard {
    display: grid;
    grid-template-rows: auto auto 1fr;
    row-gap: 1em;
}


.dashboard ul li {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 1rem;
}

.dashboard a {
    text-decoration: none;
    color: white;
}

.dashboard-title {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1em;
}

.header {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 2fr 1.5fr;
    grid-gap: 16px;
    background-color: white;
    padding: 20px 48px;
    row-gap: 1rem;
    box-shadow: var(--box-shadow);
}

h2 {
    margin: 0;
    padding: 0;
}

.welcome-container {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    align-items: center;
}

.searchbar {
    display: grid;
    grid-template-columns: auto 1fr;
    input {
        border-radius: 10px;
        padding: 4px;
        background: var(--gray-bg);
    }
    img{
        margin-right: 12px;
    }
}
.profile {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1.5em;
    align-items: center;
}

.action-container {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr auto auto;
    justify-self: end;
    button {
        background-color: var(--accent-blue);
        color: white;
        padding: 12px 48px;
        margin-right: 32px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
    button:last-child
    {
        margin-right: 0;
    }
}

.main {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "projects announcements" "projects trending";
    padding: 20px;
    gap: 1em;

}

.project-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    gap: 16px;
    grid-area: projects;
    h4{
        grid-column: 1 /span 2;
    }
}



.project {
    background-color: white;
    border-left: 6px solid orange;
    border-radius: 6px;
    padding: 16px;
    p{
        color: grey;
    }
}

.card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    box-shadow: var(--box-shadow);
}

.project-actions {
    justify-self: end;
    grid-template-columns: 1fr 1fr 1fr;
}


.announcements-section {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-area: announcements;
    gap: 16px;
    p {
        color: grey;
    }
}

.announcements-section ul {
    background-color: white;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    padding: 16px;
    list-style-type: none;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 1em;
}
.announcements-section li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 10%);
    padding-bottom: 12px;
}

.trending-section {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-area: trending;
    gap: 16px;
}

.trending-section ul {
    background-color: white;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    padding: 24px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    

}

.trending-section ul li{
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    grid-template-areas: "icon name" "icon project";
    align-items: center;
}

.trending-section ul li img {
    grid-row: 1 / span 2;
    width: 3em;
    height: 3em;
    grid-area: icon;
}

.trending-section ul li .username {
    grid-area: name;
}

.trending-section ul li .project-name {
    grid-area: project;
}

img {
    width: 1.5rem;
    height: 1.5rem;
}

.big-icon {
    width: 5rem;
    height: 5rem;
}
.icon-small {
    margin: 12px;
    
}

h2,h3,h4,h5,h6, p, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h5 {
    font-weight: bold;
    font-size: 0.9em;
}